# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# CMake build dir
build/*

# 3rd Parties sync'ed via make
source/3rdParty/*

# Mac OS Garbo
.DS_Store
*.DS_Store

# Gradle
.gradle/*

# Rider local files
.idea/*

# Executables
*.exe
*.out
*.app
